.posts {
  padding: 10px;
}

.createPost {
  margin-bottom: 10px;
  background-color: #fff;
}

.createPost textarea {
  display: block;
  margin-bottom: 10px;
  width: 500px;
  min-height: 50px;
}

.createPost button {
  display: block;
  background-color: aqua;
  color: darkblue;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}