.createMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  padding: 15px;
}

.createMessage input {
  display: block;
  width: 70%;
  min-height: 50px;
  padding: 15px;
  border: none;
  color: #666;
  font-family: 'Montserrat', sans-serif;
}

.createMessage input:focus {
  outline: none;
  color: #1f2937;
  font-weight: 500;
}

.createMessage button {
  display: block;
  background-color: #ff3c6b;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}