.profileInfo {
  background-color: #fff;
  max-width: 1000px;
  border-radius: 15px;
  box-shadow: 0 0 5px #e6e8ea;
  padding: 20px;
  margin: 0 auto;
}

.image {
  background: url('../../../../public/bg-image.jpg') no-repeat center;
  background-size: cover;
  border-radius: 15px;
  height: 250px;
  width: 100%;
}

.description {
  padding: 10px;
  background-color: antiquewhite;
}