.wrapper {
  display: grid;
  grid-template-areas: 'h h'
    'n c'
    'n c';
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  gap: 20px;
}

.wrapperContent {
  grid-area: c;
  background-color: #f0f2f5;
  padding-right: 20px;
}