.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  background-color: antiquewhite;
}

.dialog {
  display: block;
  margin-bottom: 5px;
  background-color: aqua;
  padding: 10px;
  font-size: 1.5rem;
}

.active {
  background-color: darkred;
  color: aliceblue;
}

.messagesItems {
  padding: 10px;
  background-color: darkseagreen;
}

.message {
  margin-bottom: 5px;
  background-color: aqua;
  padding: 10px;
  font-size: 1.5rem;
}