.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  margin: 20px 0 20px 20px;
  box-shadow: 0 0 5px #eff3f7;
  background-color: #fff;
}

.dialogsItems {
  padding: 10px;
}

.dialog {
  display: block;
  margin-bottom: 5px;
  background-color: aqua;
  padding: 10px;
  font-size: 1.5rem;
}

.active {
  background-color: #ff3c6b;
  color: aliceblue;
}

.messagesItems {
  padding: 10px;
  background-color:#fff;
}

.message {
  margin-bottom: 5px;
  background-color: aqua;
  padding: 10px;
  font-size: 1.5rem;
}